---
layout: jonasjohansson.njk
permalink: "labs/"
eleventyComputed:
  title: "Labs"
---

<div id="labs" class="labs-container">
  <div class="labs-grid">
    {% for project in labProjects %}
    <a class="labs-card" href="/work/{{ project.slug }}/" data-project="{{ project.slug }}">
      {% if project.images[0] %}
      <div class="labs-card-image" style="background-image: url('{{ project.images[0] }}')"></div>
      {% else %}
      <div class="labs-card-image labs-card-placeholder"></div>
      {% endif %}
      <div class="labs-card-info">
        <span class="labs-card-title">{{ project.title }}</span>
        <span class="labs-card-year">{{ project.year }}</span>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
