---
layout: jonasjohansson.njk
pagination:
  data: projects
  size: 1
  alias: project
  addAllPagesToCollections: true
permalink: "{{ project.slug }}/"
eleventyComputed:
  title: "{{ project.title }}"
---

<div
  id="projects"
  class="projects-container">
  <section
    class="project visible"
    id="{{ project.slug }}"
    data-project="{{ project.slug }}">
    <h1 class="project-title">{{ projectContent[project.slug].title }}</h1>
    <div class="project-grid">
      {% for block in projectContent[project.slug].content %} {% if block.type == 'image' %}
      <figure class="media-item {% if loop.first %}hero{% endif %}{% if block.size %} size-{{ block.size }}{% endif %}" style="--col-start: {{ block.colStart }}; --col-span: {{ block.colSpan }}">
        {% responsiveImage block.src, block.alt %}
      </figure>
      {% elif block.type == 'video' %}
      <figure class="media-item{% if loop.first %} hero{% endif %}{% if block.size %} size-{{ block.size }}{% endif %}" style="--col-start: {{ block.colStart }}; --col-span: {{ block.colSpan }}">
        <video
          class="media-video"
          src="{{ block.src | url }}"
          playsinline
          muted
          loop
          autoplay
          preload="metadata"
          aria-hidden="true"></video>
      </figure>
      {% elif block.type == 'text' %}
      <div
        class="text-block {{ block.fontSizeClass or 'text-medium' }}"
        style="--col-start: {{ block.colStart }}; --col-span: {{ block.colSpan }}">
        {{ block.content | safe }}
      </div>
      {% elif block.type == 'credits' %}
      <aside class="credits-block" style="--col-start: {{ block.colStart }}; --col-span: {{ block.colSpan }}">
        <ul class="credits-list">
          {% for credit in block.credits %}
          <li>{{ credit | safe }}</li>
          {% endfor %}
        </ul>
      </aside>
      {% endif %} {% endfor %}
    </div>
  </section>
</div>
