@import url("http://jonasjohansson.se/assets/reset.css");

body {
	padding:1rem;
	font-size:14px;
	font-family:'Helvetica',sans-serif;
	box-sizing:content-box;

}

li, a, span {
	display:block;
}

li {
	width:100%;
	line-height:24px;
}

h2 {
	line-height:48px;
}

h2:not(:first-of-type),
li:not(:first-child) h3 {
	border-top:1px solid black;
	padding-top:1rem;
	margin-top:1rem;
}

p {
	width:100%;
}

span {
	overflow:hidden;
	white-space:nowrap;
	position:relative;
	text-overflow:ellipsis;
	overflow-x:hidden;
}

img {
	width:100%;
	/*display:none;*/
}

ol:after {
	display:block;
	content:"";
	clear:both;
}

li {
	padding:0 2px;
}

/* responsive */

@media (min-width:480px) {
	li {
		float:left;
		width:180px;
	}
}

@media (max-width:720px) {
	img {
		display:none;
	}
}

/* links */

a:link {
	color:black;
	text-decoration:none;
}

a:visited {
	xcolor:darkslateblue;
}

a:hover {
	xcolor:pink;
	text-decoration:underline;
}