:root {
	--base:24px;
	--gutter:6px;
}

body {
	font-size:14px;
	font-family:'Helvetica',sans-serif;
	box-sizing:content-box;
}

a, span {
	display:block;
}

.channel:after {
	display:block;
	content:"";
	clear:both;
}

.block {
	display:block;
	float:left;
	padding:0 var(--gutter);
	line-height:var(--base);
}

.block:not(.link){
	display:none;
}

.block span {
	overflow:hidden;
	white-space:nowrap;
	position:relative;
	text-overflow:ellipsis;
	overflow-x:hidden;
}

input {
	width:200px;
}

img {
	width:100%;
}

@media (min-width:400px) {
	.block {
		width:calc( (100%/3) - (var(--gutter)*2));
	}
}

@media (min-width:600px) {
	.block {
		width:calc( (100%/4) - (var(--gutter)*2));
	}
}

@media (min-width:800px) {
	.block {
		width:calc( (100%/5) - (var(--gutter)*2));
	}
}

@media (min-width:1000px) {
	.block {
		width:calc( (100%/6) - (var(--gutter)*2));
	}
}

@media (min-width:1200px) {
	.block {
		width:calc( (100%/7) - (var(--gutter)*2));
	}
}