body,
a {
  cursor: none;
}

#cursor {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  /* border-radius: 50%; */
  /* width: 2vh; */
  /* height: 2vh; */
  /* background: white; */
  position: fixed;
  transform: translate(-50%, -50%);
  transition: width 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1),
    opacity 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  backface-visibility: hidden;
  z-index: 999999991;
  transform-origin: center center;
  pointer-events: none;
  mix-blend-mode: exclusion;
}

@media (hover: none) {
  #cursor {
    display: none;
  }
}
