#gallery {
    position: relative;
    overflow: hidden;
    /* scroll-snap-align: start; */
}

#gallery {
    height: clamp(20rem, 45vw, 100vh);
    cursor: zoom-in;
}

#gallery:fullscreen {
    height: 100vh;
    cursor: zoom-out;
}

#gallery .group,
#gallery .slide {
    height: 100%;
}

/* #gallery .slide {
    cursor: e-resize;
} */

#gallery .group:not(.show),
#gallery .slide:not(.show) {
    display: none;
}

.slide:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* background: radial-gradient(circle, transparent 0%, black 100%); */
    mix-blend-mode: overlay;
    filter: invert(1);
}

/* one item */

.slide > *:only-child {
    width: 100%;
}

@media (min-width: 960px) {
    /* two items */
    .slide > *:first-child:nth-last-child(2),
    .slide > *:first-child:nth-last-child(2) ~ * {
        width: 50%;
        float: left;
    }

    /* three items */
    .slide > *:first-child:nth-last-child(3),
    .slide > *:first-child:nth-last-child(3) ~ * {
        width: 33.3333%;
    }

    /* four items */
    .slide > *:first-child:nth-last-child(4),
    .slide > *:first-child:nth-last-child(4) ~ * {
        width: 50%;
        float: left;
    }

    /* items three and four */
    .slide > *:nth-child(3),
    .slide > *:nth-child(4) {
        position: absolute;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        /* border: 8rem solid transparent; */
        box-sizing: border-box;
        width: 25%;
        /* object-fit: scale-down; */
        /* height: auto !important; */
        height: 65%;
        margin: 0 7.5%;
        width: 35% !important;
    }

    /* item three */
    .slide > *:nth-child(3) {
        left: 0;
    }

    /* item four */
    .slide > *:nth-child(4) {
        right: 0;
    }
}

/* info */

#gallery:fullscreen #info {
    opacity: 1;
}

#info {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 0 var(--padding-side);
    /* padding-bottom: var(--base); */
    box-sizing: border-box;
    color: white;
    mix-blend-mode: difference;
    z-index: 1;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    will-change: opacity;
    transition: opacity 200ms ease-in-out;
    opacity: 0;
    /* display: none; */
}

#info .pagination {
    text-align: center;
}
