@media not print {
	[data-only-print] {
		display: none;
	}
}
@media print {
	/* @page {
		size: landscape;
	} */
	html {
		font-size: 6pt;
		line-height: 1.15;
	}
	#intro {
		padding-bottom: 0 !important;
	}
	#resume {
		column-count: 2;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}
	[data-no-print] {
		display: none !important;
	}
	[data-page-break] {
		page-break-after: always;
	}
	[data-start]:before,
	[data-end]:before {
		content: attr(data-start) ' ';
		font-size: 4pt;
		font-variant-position: super;
		float: right;
	}
	[data-end]:before {
		content: attr(data-start) '-' attr(data-end) ' ' !important;
	}
	* {
		color: black !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		opacity: unset !important;
	}
}
