@media print {
    @page {
        /* size: landscape; */
    }
    html {
        font-size: 10pt;
        line-height: 1.5;
    }
    #intro {
        height: 100vh;
        text-align: center;
        font-size: 20pt;
    }
    #intro p {
        position: relative;
        margin: 0 auto;
        top: 50%;
        transform: translateY(-50%);
    }
    #intro,
    #gallery {
        page-break-after: always;
    }
    #resume {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    [data-no-print] {
        display: none !important;
    }
    [data-page-break] {
        page-break-after: always;
    }
    [data-start]:before,
    [data-end]:before {
        content: attr(data-start) ' ';
        float: right;
    }
    [data-end]:before {
        content: attr(data-start) '-' attr(data-end) ' ' !important;
    }
    * {
        color: black !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        opacity: unset !important;
    }
}
