#svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

svg {
    position: absolute;
    mix-blend-mode: soft-light;
    will-change: opacity, filter;
    transition: all 600ms ease-in;
}

path {
    animation: dash 2000ms ease-in-out forwards;
    cursor: pointer;
}

svg.fade {
    opacity: 0;
    filter: blur(10px);
}

@media screen and (hover: hover) {
    svg {
        z-index: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
