:root {
	--base: 1.6rem;
	--padding-side: 6vw;
	--black: #000;
	--gray: #aaa;
	--white: #fee;
	--gradient-rbw: violet, indigo, blue, green, yellow, orange, red, orange,
		yellow, green, blue, indigo, violet, indigo, blue, green, yellow;
	--gradient: #020302, #4c5d9e, #947e37, #dcdddb, #5a6583, #5c320e, #bc271b,
		#5c320e, #5a6583, #dcdddb, #947e37, #4c5d9e, #020302, #4c5d9e, #947e37,
		#dcdddb, #5a6583;
}

/* html, body */

html {
	font-size: max(40px, min(1.6vw, 64px));
	line-height: 1.33;
	font-family: 'Labil Grotesk Variable', -apple-system, BlinkMacSystemFont,
		Roboto, sans-serif;
	letter-spacing: 0.01rem;
	font-feature-settings: 'calt', 'dlig', 'ss03';
	font-variation-settings: 'wght' 30, 'stbl' 70;
}

body {
	margin: 0 auto;
	box-sizing: border-box;
}

body > * {
	z-index: 1;
	position: relative;
	transition: opacity 400ms ease-in;
	opacity: 1;
}

body.loading > * {
	opacity: 0;
}

a {
	cursor: pointer;
}

p:not(:last-child) {
	margin-bottom: var(--base);
}

h1 {
	margin-bottom: calc(var(--base) * 2);
}

h2 {
	font-weight: 400;
	line-height: var(--base);
	margin-bottom: var(--base);
}

h3 {
	font-size: 75%;
	font-weight: 400;
	text-transform: uppercase;
}

video,
img,
picture {
	object-fit: cover;
	object-position: left center;
	height: 100%;
}

video {
	object-position: center center;
}

#intro,
#resume {
	margin-top: 0;
	margin-bottom: 0;
	padding: 4rem var(--padding-side);
}

#intro {
	box-sizing: border-box;
	min-height: clamp(4rem, 30vw, 80rem);
}

#intro li {
	display: inline;
}

#intro li:not(:last-child):after {
	content: ' · ';
}

::selection {
	background-color: var(--white);
	color: var(--black) !important;
	-webkit-text-fill-color: initial !important;
}

/* embed */

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* queries */

@media not print {
	@media (hover: hover) and (pointer: fine) {
		a:hover {
			text-decoration: none;
		}
		/*::selection {
			user-select: none;
			-webkit-user-select: none;
		}*/
	}
	p a,
	div a,
	li a {
		background-image: linear-gradient(to left, var(--gradient));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
		background-size: 400%;
		animation: rainbow 10s linear infinite;
	}
	img::selection {
		background: none;
	}
}

@media screen {
	html,
	body {
		background-color: var(--black);
		color: var(--white);
	}
	#intro > *:first-child {
		max-width: 25rem;
		display: inline-block;
	}
}

@media only screen and (-webkit-device-pixel-ratio: 2) and (max-device-width: 896px) {
	html {
		font-size: 26px;
	}
	#intro,
	#resume {
		padding-bottom: 4rem;
	}
	#intro {
		padding-top: 2rem !important;
	}
	#resume {
		padding-top: 4rem !important;
	}
}

@font-face {
	font-family: 'Labil Grotesk Variable';
	font-weight: normal;
	src: url('/assets/fonts/Labil_Grotesk_Testing_Only.woff2')
		format('woff2-variations');
}
