:root {
    --base: 1.6rem;
    --padding-side: 6vw;
    --sans-serif: 'NotoSans-Light', -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

html {
    /* font: clamp(28px, 1.6vw, 64px) / 1.33 var(--sans-serif); */
    font: max(28px, min(1.6vw, 64px)) / 1.33 var(--sans-serif);
    /* scroll-snap-type: y proximity; */
}

html,
body {
    color: black;
    background-color: white;
}

body {
    min-width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
}

body.loading .transition {
    opacity: 0;
}

/* basic */

a:hover {
    text-decoration: none;
}

a {
    cursor: pointer;
}

p a,
div a {
    opacity: 0.65;
}

p:not(:last-child) {
    margin-bottom: var(--base);
}

h2 {
    font-weight: 400;
    line-height: var(--base);
    margin-bottom: var(--base);
}

h3 {
    font-size: 75%;
    font-weight: 400;
    text-transform: uppercase;
    line-height: var(--base);
}

video,
img,
picture {
    object-fit: cover;
    height: 100%;
}

img::selection {
    background: none;
}

/* sections */

#intro,
#resume {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8.5rem var(--padding-side);
}

#intro {
    box-sizing: border-box;
    min-height: clamp(20rem, 35vw, 80rem);
    padding-top: 6rem;
    padding-bottom: 10rem;
}

#intro > *:first-child {
    max-width: 25rem;
}

/* #currently:before {
    content: '…currently\a0';
    float: left;
}

#currently > p::first-letter {
    text-transform: lowercase;
}

#currently p:not(:first-of-type) {
    display: none;
} */

/* other */

@media (hover: hover) {
    p a:hover,
    div a:hover {
        background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400% 400%;
        animation: rainbow 8s ease infinite;
    }
    @keyframes rainbow {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 25%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@media screen and (prefers-color-scheme: dark) {
    body,
    img,
    video,
    .emoji {
        filter: invert(1);
    }
}

/* ::selection {
    user-select: none;
    -webkit-user-select: none;
} */
