@media print, (min-width: 1280px) {
	.symbols {
		display: block;
	}
	#resume {
		display: grid;
		/* grid-template-columns: 1fr 1fr; */
		grid-column-gap: var(--base);
	}
}

/* @media screen {
  #resume > div:not(.show-all) div:nth-child(n + 10) {
    display: none;
  }
} */

@media print {
	[data-no-print],
	hr {
		display: none !important;
	}
	html {
		font-size: 90%;
	}
	#intro {
		text-align: left !important;
	}
	/* #resume > div > div {
    white-space: pre-wrap;
  } */
	#intro,
	#resume {
		margin-top: 0 !important;
		margin-bottom: 0 !important;
	}
	* {
		color: black;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	[data-page-break] {
		page-break-after: always;
	}
}
