#resume > div {
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

/* #resume > div > div {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow-x: hidden;
} */

#resume > div:not(:last-child) {
	margin-bottom: var(--base);
}

[data-start]:hover:before {
	content: attr(data-start) ' ';
	/* font-family: var(--monospace); */
	float: left;
	opacity: 0.8;
	white-space: pre;
	font-size: 40%;
	padding: 0.2rem 0.1rem 0 0;
	position: absolute;
	transform: translate(-100%, 0);
}

@media (max-width: 959px) {
	#resume {
		white-space: nowrap;
	}
}
