
@import url('reset.css');

:root {
	--base:				22px;
	--font-family:		'Helvetica Neue','Helvetica',sans-serif;
	--font-size-body:	20px;
	--font-size-small:	16px;
}

/* main */

body {
	padding:10vw 6vw;
	margin:0 auto;
	font-family:var(--font-family);
	font-size:var(--font-size-body);
	line-height:1.325em;
	letter-spacing:0.02em;
	box-sizing:border-box;
	background-color:rgb(242,242,242);
	color:rgb(4,4,4);
}

body > div {
	position:relative;
	margin-bottom:calc(var(--base)*2);
	opacity:0;
	will-change:transition;
	transition:opacity 400ms;
}

a {
	color:rgba(127,127,127,1);
}

a:hover {
	text-decoration:none;
}

h3 {
	font-size:var(--font-size-small);
	font-weight:400;
	text-transform:uppercase;
	line-height:var(--base);
}

p:not(:last-child),
section:not(:last-child),
nav:first-of-type {
	margin-bottom:var(--base);
}

nav a {
	display:table;
	white-space:nowrap;
}

/* sections */

#contact > * {
	display:table;
}

#work {
	line-height:0;
}

#work > * {
	position:relative;
	display:inline-block;
	width:100%;
}

#resume {
	font-size:var(--font-size-small);
}

#resume section {
	border-color:rgb(212,212,212);
	border-style:solid;
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch;
}

#resume section:not(:last-child) {
	padding-bottom:var(--base);
	border-bottom-width:1px;
}

#resume section:first-child {
	padding-top:var(--base);
	border-top-width:1px;
}

#resume div[date-start]:before {
	content:attr(date-start);
}

#resume div[date-end]:not([date-end=""]):before {
	content:attr(date-start) "-" attr(date-end);
}

/* special */

/*.dark {
	background-color:black;
	color:white;
}*/

.video {
	position:relative;
	padding-bottom:56.25%;
}

/* responsive */

@media (max-width:799px) {
	#resume {
		white-space:nowrap;
	}
	#resume div[date-start]:before {
		padding-right:0.5rem;
	}
}

@media (min-width:800px) {
	#intro {
		padding-right:var(--base);
		box-sizing:border-box;
	}
	#intro,
	#contact,
	#work > * {
		float:left;
		width:50%;
	}
	#contact ~ div {
		clear:left;
	}
	#work:after {
		display:block;
		clear:both;
		content:"";
	}
	.video {
		padding-bottom:28.125%;
	}
	#resume div {
		clear:right;
	}
	#resume div:before {
		float:right;
		margin-right:2px;
	}
}

@media print {
	#contact,
	#work {
		display:none!important;
	}
	* {
		color:black;
	}
}
