@import url('https://cdn.staticaly.com/gh/jonasjohansson/template/master/reset.css');

:root {
  --base: 1.6rem;
  --font-size-small: 80%;
  --video-padding: 56.3%;
  --accent: 5, 5, 18;
  --white: rgb(249, 248, 245);
  --black: rgb(14, 14, 34);
  --sans-serif: 'GT America Extended', system-ui, sans-serif;
  --monospace: 'SFMono', monospace;
}

html {
  font: 22px/1.35 var(--sans-serif);
}

html,
body {
  color: var(--black);
  background-color: var(--white);
}

body {
  min-width: 360px;
  margin: 0 auto;
  box-sizing: border-box;
}

a:hover {
  text-decoration: none;
}

nav a {
  white-space: nowrap;
}

nav a,
div a {
  opacity: 0.5;
}

h2 {
  font-weight: 400;
  line-height: var(--base);
  margin-bottom: var(--base);
}

h2 a {
  cursor: pointer;
}

h3 {
  font-size: inherit;
  font-weight: 400;
  text-transform: uppercase;
  line-height: var(--base);
  margin-top: calc(var(--base) * -0.125);
}

p:not(:last-child),
nav:not(:last-of-type),
#resume > div:not(:last-child) {
  margin-bottom: var(--base);
}

img::selection {
  background: none;
}

video {
  object-fit: cover;
}

/* sections */

section {
  position: relative;
  margin-bottom: var(--base);
  will-change: transition;
  transition: opacity 400ms;
}

section:not(#work) {
  padding-left: 8vw;
  padding-right: 8vw;
}

#intro,
#resume {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 14vw;
  padding-bottom: 14vw;
}

#intro {
  box-sizing: border-box;
}

#work {
  line-height: 0;
  background-color: black;
}

#resume {
  padding-top: var(--base);
  font-size: var(--font-size-small);
}

#resume > div {
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  cursor: crosshair;
}

[data-start]:before {
  content: attr(data-start) ' ';
  font-family: var(--monospace);
  float: left;
  opacity: 0.5;
  white-space: pre;
}

/* special */

.upcoming:before {
  display: inline-block;
  content: '\2192\00a0';
}

body:not(.loading) .transition {
  opacity: 1;
}

/* on small */

@media (max-width: 959px) {
  #resume {
    white-space: nowrap;
  }
  .video {
    padding-bottom: var(--video-padding);
  }
}

/* on large */

@media (min-width: 960px) {
  body {
    font-size: 120%;
  }
  #intro {
    max-width: 50%;
  }
  #work {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #work:after {
    display: block;
    clear: both;
    content: '';
  }
  #resume > div > div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  [data-end]:not([data-end='']):before {
    content: attr(data-start) '-' attr(data-end) ' ';
  }
  .video {
    padding-bottom: calc(var(--video-padding) / 2);
  }
}

/* on print, on largest */

@media print, (min-width: 1280px) {
  #resume {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--base);
  }
}

@media screen {
  #resume > div:not(.show-all) div:nth-child(n + 10) {
    display: none;
  }
}

@media print {
  [data-no-print],
  hr {
    display: none !important;
  }
  html {
    font-size: 90%;
  }
  #intro {
    text-align: left !important;
  }
  /* #resume > div > div {
    white-space: pre-wrap;
  } */
  #intro,
  #resume {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  * {
    color: black;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  [data-page-break] {
    page-break-after: always;
  }
}

/* import */

@font-face {
  font-family: 'SFMono';
  src: url('type/SFMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Nimbus';
  src: url('type/NimbusSansDOT-ReguExte.woff2') format('woff2');
}

@font-face {
  font-family: 'GT America Extended';
  src: url('type/GTAmerica-ExtendedRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  body,
  img,
  video,
  .emoji {
    filter: invert(1);
  }
  ::selection {
    color: var(--white) !important;
    background-color: var(--black) !important;
  }
}
