
@import url('reset.css');

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400|Cutive+Mono');

@font-face {
	font-family:'standard';
	src:url('fonts/Random-Regular.woff2') format('woff2');
}

:root {
	--base:				24px;
	--gutter:			12px;
	--font-family:		'Source Sans Pro',system-ui,sans-serif;
	--font-size-body:	20px;
	--font-size-mono: 	23px;
	--font-size-h3:		14px;
}

/* main */

body {
	padding:0 4vw;
	margin:calc(var(--base)*2) auto 0 auto;
	font-family:var(--font-family);
	font-size:var(--font-size-body);
	font-weight:300;
	line-height:var(--base);
	letter-spacing:0.04em;
	box-sizing:border-box;
}

body > div {
	position:relative;
	overflow:hidden;
	margin-bottom:calc(var(--base)*2);
	opacity:0;
	will-change:transition;
	transition:opacity 400ms;
}

a {
	color:rgba(127,127,127,1);
}

a:hover {
	text-decoration:none;
}

h3 {
	font-size:var(--font-size-h3);
	font-weight:400;
	letter-spacing:0.075rem;
	text-transform:uppercase;
	line-height:var(--base);
}

p:not(:last-child),
section:not(:last-child),
nav:first-of-type {
	margin-bottom:var(--base);
}

nav a {
	display:table;
	white-space:nowrap;
}

/* sections */

#intro > * {
	display:table;
}

#work {
	line-height:0;
}

#work > * {
	position:relative;
	display:inline-block;
	width:100%;
}

#resume section {
	overflow-x:scroll;
	-webkit-overflow-scrolling:touch;
}

#resume section:not(:last-child) {
	padding-bottom:var(--base);
	border-bottom:1px solid rgba(127,127,127,0.25);
}

#resume div[date-start]:before {
	content:attr(date-start);
	font-family:'Cutive Mono';
	font-size:var(--font-size-mono);
	letter-spacing:-0.4rem;
}

#resume div[date-end]:not([date-end=""]):before {
	content:attr(date-start) "-" attr(date-end);
}

/* special */

.dark {
	background-color:black;
	color:white;
}

.video {
	position:relative;
	padding-bottom:56.25%;
}

/* responsive */

@media (max-width:800px) {
	#resume {
		white-space:nowrap;
	}
	#resume div[date-start]:before {
		padding-right:var(--gutter);
	}
}

@media (min-width:600px) {
	nav {
		float:left;
		width:50%;
	}
}

@media (min-width:800px) {
	nav {
		width:25%;
	}
	#intro {
		padding-right:var(--gutter);
		box-sizing:border:box;
	}
	#intro,
	#work > * {
		float:left;
		width:50%;
	}
	#work > *:last-child:after {
		display:block;
		clear:both;
		content:"";
	}
	.video {
		padding-bottom:28.125%;
	}
	#resume div {
		clear:right;
	}
	#resume div:before {
		float:right;
		margin-right:2px;
	}
}

@media print {
	#contact,
	#work {
		display:none!important;
	}
}
