<script>
  window.__PATH_PREFIX__ = {{ ('/' | url) | jsonScript | safe }}.replace(/\/$/, '');
  window.__PROJECTS_DATA__ = {{ projectsForJS | jsonScript | safe }};
  window.__SITE_TITLE__ = {{ site.title | jsonScript | safe }};
</script>
