<a
  href="https://docs.google.com/spreadsheets/u/1/d/e/2PACX-1vSdECybrvqdFRdXdglDL9pYuygE9NiSIRDz7A-GzvuHMOh0-fRfZWww_Wj4SSNk_vtsreDhrGrstGkM/pubhtml"
  target="_blank">
  <header id="header">
    <div class="header-content">
      <div class="header-title">{{ site.title | upper }}</div>
      <div class="header-subtitle">
        {% if project %}
        {{ projectContent[project.slug].title }}
        {% else %}
        {{ site.subtitle }}
        {% endif %}
      </div>
    </div>
  </header>
</a>
