<div id="intro" class="intro" tabindex="-1" role="region" aria-label="About Jonas Johansson"{% if project %} hidden{% endif %}>
  <div id="about" class="intro-text">{{ site.intro | markdown | letterName(site.author) | safe }}</div>
</div>
