<div id="intro" class="intro" tabindex="-1" role="region" aria-label="About Jonas Johansson"{% if project %} hidden{% endif %}>
  <div id="about" class="intro-text">{{ site.intro | markdown | safe }}</div>
  <div class="home-links">{{ site.links | markdown | safe }}</div>
</div>
