<section
  id="project"
  class="project hidden">
  <div
    class="project-hero"
    id="project-hero"></div>
  <div class="project-content">
    <h1
      id="project-title"
      class="project-title"></h1>
    <div
      id="project-body"
      class="project-body"></div>
  </div>
</section>
