<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ site.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:url" content="{{ site.url }}" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="{{ site.title }}" />
		<meta property="og:image" content="{{ site.url }}{% img site.cover %}" />
		<meta property="og:description" content="{{ site.description }}" />
		<meta name="description" content="{{ site.description }}" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<link rel="apple-touch-icon" href="/favicon.png" />
		<link rel="icon" href="/favicon.png" />
		{% set css %} 
            {% include "assets/css/reset.css" %} 
            {% include "assets/css/style.css" %} 
            {% include "assets/css/projects.css" %} 
            {% include "assets/css/resume.css" %} 
            {% include "assets/css/animation.css" %} 
            {% include "assets/css/print.css" %}
        {% endset %}
		<style>
			{{ css | cssmin | safe }}
		</style>
		{% set js %}
            {% include "assets/js/app.js" %}
            {% include "assets/js/redirect.js" %}
        {% endset %}
		<script async="async" defer="defer">{{ js | jsmin | safe }}</script>
	</head>
	<body class="loading">
		<section id="intro">
			<p>
				<a href="mailto:jns.johansson@gmail.com">Jonas Johansson</a>
				is an anywhere based
				<span data-effect="shk" data-delay="5">artist</span>
				transforming
				<span data-effect="inv">light</span>
				✺
				<span data-effect="shf" data-delay="10">technology</span>
				through
				<span data-effect="wvy" data-delay="100">play</span>
				❋ collaboration and (un)human intervention
			</p>
			<ul>
				<li><a href="https://cctvsthlm.se/">CCTV</a></li>
				<li><a href="https://svartljus.se/">Svartljus</a></li>
				<li><a href="https://nava.community/">Nordic Audiovisual Artists</a></li>
				<li><a href="https://raindrop.io/jonasjohansson/library-14634412">Raindrop</a></li>
			</ul>
			<p data-only-print>
				<span>jns.johansson@gmail.com</span><br>
				<span>+46 721 61 50 63</span><br>
			</p>
		</section>
		<section id="projects" data-no-print>
			{# <h3 id="info"></h3> #}
			<div class="embed-container">
				<iframe
					title=""
					style="position:absolute;top:0;left:0;width:100%;height:100%;"
					src="https://player.vimeo.com/video/525684743?muted=1&loop=1&autoplay=1#t=29m14s"
					allow="autoplay; fullscreen; picture-in-picture"
					allowfullscreen
				></iframe>
			</div>
		</section>
		<section id="resume">
			<div data-no-print>
				<a onclick="window.print();return false;">Print full CV</a>
			</div>
			{% for heading in[ 'work', 'education', 'projects', 'exhibition', 'teaching', 'workshops', 'talks' ] %}
			<div>
				<h3>{{ resume.titles[heading] }}</h3>
				{% for entry in resume[heading] %} {% if entry.hidden !== true %}
				<div
					data-title="{{ entry['title'] }}"
					data-start="{{ entry['date-start'] }}"
					data-end="{{ entry['date-end'] }}"
				>
					{% if entry.links and entry.title %}
					<a href="{{ entry.links[0] }}">
						{% endif %} {% if entry.title %}
						<span class="title">{{ entry.title }}.</span>
						{% endif %} {% if entry.links %}
					</a>
					{% endif %} {% if entry.location %}
					<span class="location">{{ entry.location }}</span>
					{% endif %}
				</div>
				{% endif %} {% endfor %}
			</div>
			{% endfor %}
		</section>
	</body>
</html>
