<!DOCTYPE html>
<html lang="en" data-theme="dark"{% if project %} data-project="{{ project.slug }}"{% if project.color %} style="--project-color: {{ project.color }}"{% endif %}{% endif %}>
  <head>
    {% include "../components/metadata.njk" %}
    <link rel="stylesheet" href="{{ 'styles.css' | viteAsset | url }}">
    {% include "../components/app-data.njk" %}
  </head>
  <body data-route="{{ 'project' if project else 'home' }}">
    <a href="#main" class="skip-link">Skip to content</a>
    <div id="route-announcer" class="sr-only" aria-live="polite" aria-atomic="true"></div>
    {% include "../components/header.njk" %}
    {% include "../components/print-portfolio.njk" %}
    <div id="content">
      <main id="main" tabindex="-1">
        {% include "../components/intro.njk" %}
        {% include "../components/home-header.njk" %}
        <div id="projects" class="projects-container">{{ content | safe }}</div>
        {% include "../components/strips.njk" %}
      </main>
      {% include "../components/intro-links.njk" %}
    </div>
    <script type="module" src="{{ 'main.js' | viteAsset | url }}"></script>
  </body>
</html>
