:root {
    --base: 1.6rem;
    --video-padding: 56.3%;
    --padding-side: 6vw;
    --white: white; /*rgb(249, 248, 245);*/
    --black: black; /*rgb(14, 14, 34);*/
    --sans-serif: 'Noto Sans Light', system-ui, sans-serif;
    --monospace: 'SFMono', monospace;
}

html {
    font: clamp(32px, 1.6vw, 64px) / 1.25 var(--sans-serif);
    scroll-snap-type: y proximity;
}

html,
body {
    color: var(--black);
    background-color: var(--white);
}

body {
    min-width: 360px;
    margin: 0 auto;
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

div a {
    opacity: 0.6;
}

div a:hover {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400% 400%;
    animation: rainbow 8s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 25%;
    }
    100% {
        background-position: 0% 50%;
    }
}

p:not(:last-child) {
    margin-bottom: var(--base);
}

h2 {
    font-weight: 400;
    line-height: var(--base);
    margin-bottom: var(--base);
}

h2 a {
    cursor: pointer;
}

h3 {
    font-size: 75%;
    font-weight: 400;
    text-transform: uppercase;
    line-height: var(--base);
}

video,
img {
    object-fit: cover;
    height: 100%;
}

img::selection {
    background: none;
}

/* sections */

#intro,
#resume {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8.5rem var(--padding-side);
}

#intro {
    box-sizing: border-box;
    max-width: 30rem;
    min-height: clamp(20rem, 35vw, 80rem);
}

/* special */

.upcoming:before {
    display: inline-block;
    content: '\2192\00a0';
}

body:not(.loading) .transition {
    opacity: 1;
}

@font-face {
    font-family: 'Noto Sans Light';
    src: url('type/NotoSans-Light.woff2') format('woff2');
}

@media not print and (prefers-color-scheme: dark) {
    body,
    img,
    video,
    .emoji {
        filter: invert(1);
    }
}

::selection {
    user-select: none;
    -webkit-user-select: none;
}
